@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b1b1b1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5f5f5f;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textgradient {
  font-size: 20px;
  background: -webkit-linear-gradient(#fbff00, #15f0e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textgradient:hover {
  background: -webkit-linear-gradient(#ff0b0b, #fbff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Background of the Page */
.bg {
  background: #334155;
}

.marginimg {
  margin-bottom: 10px;
}

.buttonGen {
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.buttonBackground {
  background: linear-gradient(to right, rgb(58, 71, 255), rgb(44, 243, 216));

}
.onclickButtonBackground {
  background: linear-gradient(to left,rgb(58, 71, 255), rgb(44, 243, 216));
  color: red;
}

.setting {
  margin-top: 5em;
}

.setting * {
padding: 2px 5px;
}

@media (max-width: 700px) {
  .threebar {
    display: flex;
    justify-content: left;
  }

  .removeElement {
    display: none;
  }
}